---
import Layout from '../layouts/Layout.astro';
import Intro from '../components/Intro.astro';
import ProjectCardList from '../components/ProjectCardList.astro';
---

<Layout
    title="Jan Kessler"
    description="Jan Kessler is a software developer based in Villingen-Schwenningen, Germany."
    image="/logo.png"
    canonicalURL={Astro.site}
>
    <main>
        <Intro />
        <ProjectCardList />
    </main>
</Layout>

<style></style>
