---
import Layout from '../layouts/Layout.astro';
import Intro from '../components/Intro.astro';
import ProjectCardList from '../components/ProjectCardList.astro';
---

<Layout title="Jan Kessler">
    <main>
        <Intro />
        <ProjectCardList />
    </main>
</Layout>

<style></style>
