---
import Icon from './Icon.astro';
import ThemeIcon from './ThemeIcon.astro';
---

<header>
    <div>
        <menu id="menu" class="fade-in">
            <a
                href="https://github.com/jannks"
                target="_blank"
                rel="noopener noreferrer"
            >
                <Icon
                    width={30}
                    height={29.4}
                    lightPath="icons/github-mark.svg"
                    darkPath="icons/github-mark-white.svg"
                    alt="Github"
                />
            </a>
            <ThemeIcon />
        </menu>
    </div>
</header>

<style is:global>
    :root {
        --header-height: calc(var(--container-padding) * 2 + 35px);
    }

    header {
        height: var(--header-height);
        display: flex;
        justify-content: end;
        padding: var(--container-padding);
        box-sizing: border-box;
    }

    #menu {
        display: flex;
        justify-content: end;
        align-items: center;
        gap: 1rem;
        margin: 0;
    }
</style>
