---
import type { Project } from '@/payload/payload-types';
import ProjectCard from './ProjectCard.astro';

const apiUrl = import.meta.env.API_URL;
const projects: { docs: Project[] } = await fetch(
    `${apiUrl}/api/projects?depth=1`,
).then((res) => res.json());
---

<div class="container">
    <ul id="cards">
        {
            projects.docs.map((project, index) => (
                <li class="card" style={{ '--index': index + 1 }}>
                    <ProjectCard project={project} />
                </li>
            ))
        }
    </ul>
</div>

<style define:vars={{ cards: projects.docs.length }}>
    :root {
        --cardHeight: calc(100vh - var(--cardTopPadding) * 2);
        --cardTopPadding: var(--container-padding);
        --cardMargin: calc(1vw * var(--cards));
    }

    .container {
        padding: var(--container-padding);
        box-sizing: border-box;
        width: 100%;
        margin: 0 auto;
    }

    #cards {
        list-style: none;
        padding-left: 0;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(var(--cards), var(--cardHeight));
        gap: var(--cardMargin);
        padding-bottom: calc(var(--cards) * var(--cardTopPadding));
        margin-bottom: var(--cardMargin);
    }

    .card {
        position: sticky;
        top: 0;
        padding-top: calc(var(--index) * var(--cardTopPadding));
    }
</style>
